body {
    background-color: #04a6eb;
    color:#Fdffff;
    width: 500px; 
    /*幅を500pxに設定*/
    margin-right: auto; 
    /* 右側のマージン（空白）を自動調節 */
    margin-left: auto; 
    /* 左側のマージンを自動調節 */
}
button{
    padding: 5px 20px;
    /* パディングの上下の幅を５px、左右の幅を20pxに設定する */
    background-color: #337ab7;
    border-color: #2e6da4;
    border-style:none;
    /* 境界線を表示しない */
    color:#Fdffff;
    /* ボタンの文字を白に変更 */
}
input{
    height: 24px;
    /* 入力欄をボタンと同じ高さにする */
}

/* p,191 */
